<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Tutorial</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="styles/index.css" />
</head>

<body>
    <!-- nav -->
    <%- include('components/navTop') %>
    <!-- end nav -->

    <div class="container my-2">

        <div class="row">
            <div class="col-md-3">
                <!-- <div class="shadow rounded" style="box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;"> -->
                <div class="rounded nav-left">
                    <%- include('components/navLeft',{reqItem})%>
                </div>
            </div>

            <div class="col-md-9">

                <div id="jumbo-intro" style="background-image: url(images/bg2.jpg);" class="jumbotron py-4">
                    <div class="container">
                        <h1 style="font-size: 50px;" class="display-4 text-center">welcome to napa-training server</h1>
                        <!-- <p class="lead text-center">Nodejs API</p> -->
                        <hr class="my-2">
                        <p class="lead text-center">Nodejs API</p>
                        <div class="panel-1 p-3 rounded mb-3">
                            <p class="lead"><strong>url:</strong> [HOST]:[PORT]/web-api/:endpoint</p>
                            <p class="lead"><strong>our url:</strong> http://142.93.253.93:81/web-api/:endpoint</p>
                        </div>
                        <div class="text-center">
                            <p class="lead">
                                <a class="btn btn-primary btn-lg" href="#" role="button">Get start</a>
                            </p>
                        </div>
                    </div>
                </div>



                <div data-spy="scroll" data-target="#navbar-left" data-offset="0" class="scrollspy-example-2">

                    <% if(typeof reqItem != 'undefined') { %>
                    <% reqItem.forEach((item, key)=>{ %>
                        <%-include('components/requestItem',{item,key})%>
                    <% }) %>
                    <% } %>
                    

                </div>

            </div>

        </div>

    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>